footer {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
}

footer .social-media {
	display: flex;
}

.icon-list {
	display: flex;
	gap: 0.6rem;
}
